html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    z-index: -1;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 100%;
    z-index: -1;
}

#overlay-content {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 100%;
    z-index: 10;
    overflow-y: scroll;
}

.station {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 30px;
    height: 30px;
    border: dashed 0px;
    pointer-events: auto;
    padding: 0;
    margin: 0;
}

.segment {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 30px;
    height: 30px;
    border: dashed 0px;
    pointer-events: auto;
    padding: 0;
    margin: 0;
}

.profile-pic{
    width: 80%;
    max-width: 150px;
    border-radius: 100px;
    object-fit: contain;
    margin: auto;
    display: block;
}

.info{
    background-color: rgba(255,255,255,0.8);
    padding: 20px !important;
    border-radius: 10px 0 0 10px;
    border:5px white;

}

.links img{
    width: 32px;
    margin: 2.5px 0;
}

#overlay-content a:hover{
    background-color: #4DC9FF !important;
    border-radius: 10px;
    transition: .3s;
    padding: 0.25em;
    margin: 0 -0.25em;
}

.links{
    text-align: center;
}

.hashtags{
    font-family: "Ubuntu" !important;
    font-weight: 500 !important;
    font-size: 1.5em;
    text-align: center;
}

.hashtags mark{
    background-color:#4DC9FF !important;
}

.punchline{
    background-color:#4DC9FF !important;
    border-radius: 10px;
    color: white;
}


mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color:#ffee58 !important;
  
}

h2{
    font-family: "Ubuntu" !important;
    font-weight: 700 !important;
}

